<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | KhetiBazzar ™</title>
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="signup_login.css">
    <script src="signup_login.js" defer></script>
</head>
<body>
    <main class="card-container slideUp-animation">
        <div class="image-container">
            <a href="/"><h1 class="company" style="color: white;">KhetiBazzar <sup>&trade;</sup></h1></a>
            <img style="border-radius: 10px;" src="https://t4.ftcdn.net/jpg/04/45/69/65/360_F_445696583_kN8UnRh8CJVYZJv2Qy6cFyyXnez7qqqD.jpg" class="illustration" alt="">
            <p class="quote">Sign up today for exciting deals..!</p>
            <a href="#btm" class="mobile-btm-nav">
                <img src="resources/dbl-arrow.png" alt="">
            </a>
        </div>
        <form action="/signup" method="post">
            <div class="form-container slideRight-animation">
    
                <h1 class="form-header">
                    Get started
                </h1>
    
                <div class="input-container">
                    <label for="f-name"></label>
                    <input type="text" name="fName" id="f-name" required>
                    <span>
                        First name
                    </span>
                    <div class="error"></div>
                </div>
    
                <div class="input-container">
                    <label for="l-name"></label>
                    <input type="text" name="lName" id="l-name" required>
                    <span>
                        Last name
                    </span>
                    <div class="error"></div>
                </div>
    
                <div class="input-container">
                    <label for="username">
                    </label>
                    <input type="text" name="username" id="username" required>
                    <span>
                        Email
                    </span>
                    <div class="error"></div>
                </div>
    
    
    
                <div class="input-container">
                    <label for="profession">
                        Who are you? 
                    </label>
                    <select id="profession" name="profession" fdprocessedid="antoss" required>
                        <option value="" selected="" disabled="">Select Here</option>
                        <option value="seller">Seller</option>
                        <option value="buyer">Buyer</option>
                        <option value="both">Both</option>
                    </select>
                    

                    <div class="error"></div>
                </div>
    
                <div class="input-container">
                    <label for="user-password"></label>
                    <input type="password" name="user-password" id="user-password" class="user-password" value="" required>
                    <span>Password</span>
                    <div class="error" id="message"></div>
                </div>

                <div class="input-container">
                    <label for="user-password-confirm"></label>
                    <input type="password" name="user-password-confirm" id="user-password-confirm" class="password-confirmation" value="" required>
                    <span>
                        Confirm Password
                    </span>
                    <div class="error error-pass" id="message-con"></div>
                </div>

                <div id="btm">
                    <button type="submit" class="submit-btn">Create Account</button>
                    <p class="btm-text">
                        Already have an account..? <a href="/login"><span class="btm-text-highlighted">  Log in</span></a>
                    </p>
                </div>
            </div>
        </form>
    </main>
</body>
</html>