<div class="mid-container container mt-5">
  <div id="services" class="item d-flex  justify-content-center flex-column align-items-center">
    <h1 class="mb-4">Services</h1>
    <p class="mx-4 px-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, incidunt esse tempore accusantium at in nam. Voluptas et, error, quo quod sapiente provident possimus odit officiis veritatis id quidem dolorum, alias impedit consequatur molestiae! Quae hic nostrum nesciunt animi cupiditate! Eveniet, dignissimos? Id aliquid laboriosam cumque blanditiis enim quo praesentium! Lorem, i Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio doloremque molestias eius cumque impedit est fugiat perferendis dolore labore? Quasi iusto assumenda, minus commodi, excepturi fugiat magnam soluta dicta ex consequuntur recusandae? Animi, accusantium aspernatur? Officia velit ullam incidunt cum quae a ea, repudiandae, vel provident aut voluptatibus perferendis. Obcaecati. el adipisci quae hic nisi provident quod.</p>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="https://cdn.wallpapersafari.com/21/64/5Z9wRJ.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://ericrobertmorse.com/wp-content/uploads/2016/11/fb-farmers-market-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://th.bing.com/th/id/R.811bbef32cd1a8ee31ac54fe02625c54?rik=bLMepAOU22PkWw&riu=http%3a%2f%2fgreatlakesecho.org%2fwp-content%2fuploads%2f2012%2f04%2ffarm-market1.jpg&ehk=bNHgaTnGES898vak3HOnpf%2bwpZXJze3KlQvfzndqYMc%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div>

  <div id="about" class="item d-flex  justify-content-center flex-column align-items-center my-5">
    <h1 class="mb-4">About</h1>
    <p class="mx-4 px-4">Lorem ipsum dolor sit,  aspernatur! Ea, molestias debitis, in dolor enim quaerat assumenda odit dolore quam dolorum aliquam optio placeat odio deleniti nemo nisi. Inventore nostrum voluptas iure sapiente quibusdam a iste aut nemo! In quae quis illum obcaecati repellat a! Magnam, nulla dolorem dolore consequuntur, exercitationem voluptas ut aliquid beatae voluptatem doloribus tenetur deserunt explicabo facilis voluptatibus inventore! Tempora minima totam porro molestiae deserunt consectetur magni maiores pariatur qui iure ex sit, temporibus unde ad placeat esse necessitatibus? Rerum saepe ratione consectetur veniam doloremque nobis repellat ullam nulla illo debitis sapiente nihil, corrupti incidunt, repudiandae unde distinctio ipsum quos? Possimus numquam dolores at optio itaque quos cum repellendus dicta id et, minus suscipit ipsa quas natus aliquam deserunt doloribus voluptates accusantium est! Praesentium asperiores quisquam rerum voluptates! Harum asperiores quisquam vel libero aliquam pariatur architecto tempore repellat consequatur? Voluptas facilis numquam voluptatum alias. Omnis commodi sed ea beatae rem numquam, at quisquam alias, corrupti error maiores voluptate molestias facilis eius animi ipsum minus illo possimus labore ipsam debitis soluta deleniti. Labore atque, reiciendis a magnam qui, id placeat laudantium cum obcaecati ex quae ad laboriosam animi ut pariatur doloribus! Deserunt quis laborum neque temporibus esse! Suscipit debitis, quisquam sunt impedit incidunt ex harum vel cumque temporibus modi accusantium culpa nam nostrum. Nulla fuga nisi, quibusdam similique unde laudantium ipsa perspiciatis delectus magnam, saepe inventore dolor? Culpa saepe ea minima fugiat eum quae, nostrum adipisci quam quod vel officiis, ullam animi doloribus numquam possimus id? Corporis, maiores dolor! Assumenda iusto qui veniam facere tenetur dicta dignissimos sunt necessitatibus recusandae neque explicabo velit officia sapiente minus vel voluptatibus reprehenderit, quisquam molestiae minima deleniti illum aspernatur a distinctio ipsa. Vel amet doloremque dolores quod ducimus magni facere obcaecati! Totam officia distinctio itaque necessitatibus nesciunt molestiae?</p>
  </div>
</div>